bin
obj
*.user
*.suo
*.resharper
*.ReSharper
Installers/EnduraUtilities/EnduraUtilities.exe
Installers/UtilitiesSetup/Debug/
_ReSharper.*
*.vsp
Installers/UtilitiesInstallerFull/dotNetFx40_Full_x86_x64.exe
Installers/UtilitiesInstallerFull/dotNetFx40_Client_x86_x64.exe
*.psess
*.coverage
*.orig
Installers/UtilitiesInstallerFull/*.exe
packages/
*.ncrunchproject
*.ncrunchsolution
_NCrunch_Utilities/
